.service-account-container {
    .account-tabs {
        ul {
            display: block;

            li {
                display: inline-flex;
                list-style: none;
                margin-right: 5px;

                a {
                    font-size: 14px;
                    line-height: 40px;
                    font-weight: 500;
                    color: #8998AC;
                    padding: 0 20px;
                    background-color: #F0F3F7;

                    i {
                        padding-left: 20px;
                        color: #8998AC;
                    }

                    &:hover {
                        color: #3B4859;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        background-color: #D9E4F2;
                    }
                }

                &.active {
                    a {
                        color: #3B4859;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        background-color: #D9E4F2;
                    }
                }
            }
        }
    }

    .webservice-container {
        border: 1px solid #f5f6f5;
        border-radius: 10px;
        box-shadow: 0px 1px 6px #00000029;

        .heading {
            background-color: #D9E4F2;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            padding-top: 10px;
            padding-left: 20px;
            padding-bottom: 10px;

            h3 {
                color: #3B4859;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                display: inline-block;
                margin-bottom: 0;

                span {
                    width: 40px;
                    display: inline-block;
                    margin-right: 20px;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .breadcrumbs {
                display: inline-block;
                padding-left: 30px;

                ul {
                    li {
                        display: inline-block;
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: 500;
                        color: #3B4859;

                        span {
                            color: #2662F0;
                            font-size: 14px;
                            line-height: 24px;
                            font-weight: 500;

                        }
                    }
                }
            }
        }

        .webservice-tabs-container {

            .tabs {
                background-color: #D9E4F2;
                text-align: center;
                margin: 0;
                overflow: hidden;

                ul {
                    display: flex;
                    padding-left: 2px;
                    padding-right: 2px;
                    padding-top: 2px;
                    padding-bottom: 1px;
                    justify-content: flex-start;

                    li {
                        list-style: none;
                        display: contents;

                        a {
                            font-size: 12px;
                            line-height: 16px;
                            font-weight: 500;
                            color: #414D55;
                            color: unset;
                            padding: 10px 20px;

                            &:hover {
                                background-color: #FFFFFF;
                                color: #2662F0;
                                border-top-right-radius: 5px;
                                border-top-left-radius: 5px;
                            }
                        }

                        &.active {
                            a {
                                background-color: #FFFFFF;
                                color: #2662F0;
                                border-top-right-radius: 5px;
                                border-top-left-radius: 5px;
                            }
                        }
                    }

                }
            }

            .webservice-step-component {
                display: block;

                &.d-none {
                    display: none;
                }
            }

        }
    }

    .account-box {
        padding: 10px 10px 10px 20px;
        border-bottom: 1px solid #f5f6f5;

        .breadcrumbs {
            vertical-align: middle;

            ul {
                display: inline-block;

                li {
                    display: inline-block;
                    list-style: none;
                    font-size: 14px;
                    font-weight: 500;
                    color: #3B4859;

                    span {
                        color: #2662F0;
                        font-size: 14px;
                        font-weight: 500;
                    }

                    i {
                        font-size: 20px;
                        margin-right: 15px;
                        margin-left: 15px;
                        color: #8998AC;
                    }
                }
            }
        }

        .search-box {
            position: relative;
            margin-bottom: 0;

            .control-form {
                font-size: 14px;
                line-height: 34px;
                text-align: left;
                padding-left: 30px;
                width: 100%;
                color: #8998AC;
                border: 1px solid #8392A7;
                border-radius: 5px;
                background-color: #ffffff;
            }

            button {
                position: absolute;
                left: 0;
                top: 2px;
                z-index: 1;
                cursor: pointer;
                border: none;
                background-color: transparent;
                width: 32px;
                height: 32px;
                color: #8998AC;
            }
        }
    }

    .storage-section {
        .network-boxs {
            border-right: 1px solid #f5f6f5;
            min-height: 450px;

            ul {
                li {
                    background-color: #ffffff;

                    list-style: none;

                    &:nth-child(odd) {
                        background-color: #F8F9FB;
                    }

                    a {
                        font-size: 14px;
                        line-height: 24px;
                        padding: 10px 0 10px 20px;
                        display: block;

                        i {
                            font-size: 20px;
                            margin-right: 15px;
                            color: #39475B;
                            line-height: 24px;
                            vertical-align: top;
                        }
                    }
                }

                .last {
                    border-bottom: 1px solid #f5f6f5;
                }
            }
        }

        .storage-details {
            padding-top: 30px;
            padding-bottom: 30px;
            min-height: 450px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
    }

    .performance-box {
        width: 60%;
        margin: 80px auto 40px auto;

        .performance-inner {
            background-color: #fafafa;
            padding: 40px 30px;
            text-align: center;
            display: block;
            box-shadow: 0px 3px 5px #00000029;

            strong {
                font-weight: 600;
                display: block;
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 20px;
            }

            p {
                font-size: 14px;
                line-height: 20px;
                color: #000000;
                font-weight: 500;
                font-style: italic;
                display: block;
                margin-bottom: 30px;
            }

            .asset-blue-button {
                border-radius: 0px;
            }
        }
    }

    .note-text {
        margin: 0 auto 40px;
        width: 75%;

        .note-text-inner {
            border: 1px solid #F90000;
            padding: 20px 30px;
            width: 100%;
            display: block;

            p {
                font-size: 14px;
                line-height: 20px;
                color: #FF0000;
                font-weight: 500;
                font-style: italic;
                display: block;
                margin-bottom: 0;

                strong {
                    font-weight: 600;
                }
            }
        }
    }

    .wizard-container {
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;

        .wizard-step-line-container {
            margin: 0px auto;
            width: 72%;
            padding: 0;
            background-color: transparent;

            .wizard-step-button {
                width: 25%;
            }
        }
    }

    .verify-inputs-section {
        display: block;
        width: 100%;

        .configure-inputs-section {
            display: block;
            padding-top: 50px;
            padding-bottom: 50px;
            text-align: center;

            p {
                display: block;
                color: #3B4859;
                text-align: center;
                font-size: 14px;
                font-weight: 500;
                font-style: italic;
                margin-bottom: 40px;
            }

            .asset-blue-button {
                border-radius: 0px;
            }
        }

        .configure-inputs-table {
            display: block;
            width: 100%;

            &.verify-and-save-table {
                width: 56%;
                display: table;
                margin-left: auto;
                margin-right: auto;

                .following-node {
                    display: block;
                    color: #3B4859;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 400;
                    font-style: italic;
                    margin-bottom: 40px;
                    margin-top: 20px;
                }
            }

            .table-thead {
                background-color: rgba($color: #D9E4F2, $alpha: 0.8);
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;

                tr {
                    th {
                        padding-left: 15px;
                        padding-right: 15px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        color: #414D55;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 20px;

                        &:nth-child(1) {
                            width: 20%;
                        }

                        &:nth-child(2) {
                            width: 20%;
                        }

                        &:nth-child(3) {
                            width: 60%;
                        }

                        a {
                            color: #2662F0;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 20px;
                            display: inline-block;
                            margin: 0 10px;
                        }
                    }
                }
            }

            .table-tbody {
                border: 1px solid #f5f6f5;
                border-radius: 10px;
                box-shadow: 0px 1px 6px #00000029;
                margin-bottom: 10px;
                padding: 2px;

                &.first-table {
                    -webkit-border-top-left-radius: 0px;
                    -webkit-border-top-right-radius: 0px;
                    -moz-border-radius-topleft: 0px;
                    -moz-border-radius-topright: 0px;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                }

                tr {
                    td {
                        padding-left: 15px;
                        padding-right: 15px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        color: #414D55;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 24px;

                        &:nth-child(1) {
                            width: 20%;
                        }

                        &:nth-child(2) {
                            width: 20%;
                        }

                        &:nth-child(3) {
                            width: 60%;
                        }

                        a {
                            color: #2662F0;
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 18px;
                        }

                        .table-inner {
                            tr {
                                background-color: #ffffff;

                                &:nth-child(odd) {
                                    background-color: #F8F9FB;
                                }

                                td {
                                    &:nth-child(1) {
                                        width: 5%;
                                    }

                                    &:nth-child(2) {
                                        width: 90%;
                                    }

                                    &:nth-child(3) {
                                        width: 5%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .dashboard-view-container {
        display: flex;
        min-height: 450px;
        padding-top: 10px;

        aside {
            width: 20%;
            -webkit-transition: width 0.5s;
            -o-transition: width 0.5s;
            transition: width 0.5s;
            padding: 0px !important;
            text-align: center;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            background: #e9edf2;

            .dashboard-side-tab {
                opacity: 1;
                -webkit-transition: opacity 0.5s;
                -o-transition: opacity 0.5s;
                transition: opacity 0.5s;
                padding: 15px;
                cursor: pointer;

                &.active {
                    background-color: #3697ef;
                    color: white;
                }

                .tab-name {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .dashboard-view {
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            min-width: 0;
            max-width: 1100px;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            border: 2px solid #ababab;

            iframe {
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .service-account-container {
        .account-tabs {
            ul {
                li {
                    a {
                        padding: 0 12px;

                        i {
                            padding-left: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .service-account-container {
        .storage-section {
            .network-boxs {
                min-height: inherit;
            }

            .storage-details {
                min-height: 200px;
            }
        }

        .account-tabs {
            text-align: center;
            padding-bottom: 15px;

            ul {
                li {
                    display: grid;
                    margin-bottom: 5px;
                }
            }
        }

        .account-box {
            .breadcrumbs {
                padding-bottom: 10px;
            }
        }
    }
}